<html>
<head>
  <title> </title>
</head>
<body>
  <a href = "/index"> index </a>
<h1> <%= @title %> </h1>
<ul> <% @contacts.each do |contact| %>
   <li> <a href = "/contacts/<%= contact.id%>"><%= contact.first_name %>  <%= contact.last_name%></a></li>
   <% end %>
 </ul>
</body>
</html>
